@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about our companie's lamps.</p>
    <img src="\image\DSC00032.JPG" alt=""/>
</div>
